.emacs.gnu/straight/
.emacs.gnu/org-roam.db
.emacs.gnu/recentf
.emacs.gnu/eln-cache/
.emacs.gnu/auto-save-list/
.emacs.gnu/elpa/
.emacs.gnu/org-persist/
.emacs.gnu/history
.emacs.gnu/projectile-bookmarks.eld
*.elc
*.el~
